<ul>
<li><a href="http://www.grownupsreadthingstheywroteaskids.com/mailing-list/?utm_source=podcast&utm_medium=referral&utm_campaign={{ page.number }}">Join our email newsletter</a></li>
<li><a href="http://www.grownupsreadthingstheywroteaskids.com/?utm_source=podcast&utm_medium=referral&utm_campaign={{ page.number }}">Upcoming live events</a></li>
</ul>

<ul>
<li><a href="http://facebook.com/grownupsreadthingstheywroteaskids">Follow GRTTWaK on Facebook</a></li>
<li><a href="http://twitter.com/GRTTWaK">Follow @GRTTWaK on Twitter</a></li>
<li><a href="http://instagram.com/GRTTWaK">Follow @GRTTWaK on Instagram</a></li>
</ul>