<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
        <a href="{{ site.url }}"><img src="/images/grttwak-logo-320-orange.png" alt="Grownups Read Things They Wrote as Kids"></a>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/events/' %} active{% endif %}" href="/events/"><i class="fa fa-calendar"></i> Live Events</a>
      <a class="sidebar-nav-item{% if page.url == '/podcast/' %} active{% endif %}" href="/podcast/"><i class="fa fa-headphones"></i> Podcast</a>
      <a class="sidebar-nav-item{% if page.url == '/newsletter/' %} active{% endif %}" href="/newsletter/"><i class="fa fa-envelope"></i> Newsletter</a>
      <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}" href="/contact/"><i class="fa fa-phone"></i> Contact</a>
      <a class="sidebar-nav-item{% if page.url == '/sponsor/' %} active{% endif %}" href="/sponsor/"><i class="fa fa-star"></i> Sponsor the Podcast</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/"><i class="fa fa-info-circle"></i> About</a>
    </nav>

    <div class="sidebar-about" style="letter-spacing:5px;">
      <a href="https://www.facebook.com/grownupsreadthingstheywroteaskids/"><i class="fa fa-2x fa-facebook-official"></i></a>      
      <a href="https://www.twitter.com/GRTTWaK/"><i class="fa fa-2x fa-twitter-square"></i></a>     
      <a href="https://www.instagram.com/GRTTWaK/"><i class="fa fa-2x fa-instagram"></i></a>
    </div>
  </div>
</div>
