<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-00">

  	<!-- Google Tag Manager (noscript) -->
  	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPBH4S"
  	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  	<!-- End Google Tag Manager (noscript) -->

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <!-- PodSights -->
    <script>
      (function(w, d){
       var id='pdst-capture', n = 'script';
       if (!d.getElementById(id)){
         w.pdst = w.pdst || function() {(w.pdst.q = w.pdst.q || []).push(arguments);};
         var e = d.createElement(n); e.id = id; e.async=1;
         e.src = 'https://cdn.pdst.fm/ping.min.js';
         var s = d.getElementsByTagName(n)[0];
         s.parentNode.insertBefore(e, s);
       }
       w.pdst('configure', { key: '3cb00aec78894a7daf9dec9b87987d60' })
      })(window, document);
    </script>
  </body>
</html>
