---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">"{{ page.quote }}"</h1>
    <p class="post-meta">Episode {{ page.number }} was recorded live in {{ page.city }}, and released on {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">

    {% if page.art19_id %}

    {% assign episode_image = "/images/charlottetown_pano.jpg" %}
    {% for static_file in site.static_files %}
      {% capture path %}/{{ page.number | downcase }}.jpg{% endcapture %}
      {% if static_file.path contains path and static_file.extname == ".jpg" %}
        {% assign episode_image = static_file.path %}
        {% break %}      
      {% endif %}
    {% endfor %}

    <!-- <img src="{{ episode_image }}"> -->

    <!-- <iframe src="https://art19.com/shows/grownups-read-things-they-wrote-as-kids/episodes/{{ page.art19_id }}/embed?type=micro&theme=dark-custom&primary_color=%23f37749" style="width: 100%; height: 40px; border: 0 none;" scrolling="no"></iframe> -->

    <!-- <div class="art19-web-player awp-micro awp-theme-dark-custom" data-episode-id="{{ page.art19_id }}" data-primary-color="#f37749"></div> -->

    <div id='episode-page-{{ page.number }}'
         class='art19-web-player awp-medium awp-theme-dark-custom'
         data-episode-id='{{ page.art19_id }}'
         data-primary-color='#f37749'
         data-emit-events='true'
         data-bt-episode-title='{{ page.number }}: "{{ page.quote }}" ({{ page.city }})'
         data-bt-episode-author='Grownups Read Things They Wrote as Kids'
         ></div>

    {% elsif page.soundcloud_id %}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud_id }}&amp;color=f37749&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
    </br>
    {% elsif page.simplecast_episode_id %}

    {% assign episode_image = "/images/charlottetown_pano.jpg" %}
    {% for static_file in site.static_files %}
      {% capture path %}/{{ page.number | downcase }}.jpg{% endcapture %}
      {% if static_file.path contains path and static_file.extname == ".jpg" %}
        {% assign episode_image = static_file.path %}
        {% break %}      
      {% endif %}
    {% endfor %}

    <img src="{{ episode_image }}">
    <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.com/e/{{ page.simplecast_episode_id }}?style=dark' width='100%'></iframe>
    </br>
    {% endif %}

  	{{ content }}

    {% include boilerplate_episode_links.md number=page.number %}
    {% include social.md number=page.number %}
    {% include subscribe_to_podcast.html number=page.number %}

    <br>
    {% assign past = site.data.events.past | sort: "date" | reverse %}
    {% for event in past %}
    {% for showtime in event.showtimes %}

    {% if showtime.podcast_episode == page.number %}

    <h2>Video</h2>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ showtime.youtube }}" frameborder="0" allowfullscreen></iframe>

    {% endif %}

    {% endfor %}
    {% endfor %}

    <br>

    {% if page.mp3_enclosure %}
    <a href="{{ page.mp3_enclosure }}">Download MP3</a>
    {% elsif page.art19_id %}    
    <a href="https://dts.podtrac.com/redirect.mp3/rss.art19.com/episodes/{{ page.art19_id }}.mp3">Download MP3</a>
    {% elsif page.simplecast_episode_id %}
    <a href="https://dts.podtrac.com/redirect.mp3/audio.simplecast.com/{{ page.simplecast_episode_id }}.mp3">Download MP3</a>
    {% endif %}

  </article>

</div>