---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">"{{ page.quote }}"</h1>
    <p class="post-meta">Episode {{ page.number }} was recorded live in {{ page.city }}, and released on {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {% if page.soundcloud_id %}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud_id }}&amp;color=f37749&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
    </br>
    {% elsif page.simplecast_episode_id %}

    {% assign episode_image = "/images/charlottetown_pano.jpg" %}
    {% for static_file in site.static_files %}
      {% capture path %}/{{ page.number | downcase }}.jpg{% endcapture %}
      {% if static_file.path contains path and static_file.extname == ".jpg" %}
        {% assign episode_image = static_file.path %}
        {% break %}      
      {% endif %}
    {% endfor %}

    <img src="{{ episode_image }}">
    <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.com/e/{{ page.simplecast_episode_id }}?style=dark' width='100%'></iframe>
    </br>
    {% endif %}

  	{{ content }}

    {% if page.mp3_enclosure %}
    <a href="{{ page.mp3_enclosure }}">Download MP3</a>    
    {% elsif page.simplecast_episode_id %}
    <a href="http://audio.simplecast.com/{{ page.simplecast_episode_id }}.mp3">Download MP3</a>
    {% endif %}

  </article>

</div>