---
layout: default
---

<!-- {{ page.title }} -->
  

<h2>Grownups Read Things They Wrote as Kids: {{ page.venue.city }} {% if page.showtimes.size > 1 %} ({{ page.showtimes.size }} shows){% endif %}</h2>

<img src="/images/charlottetown_pano.jpg" alt="GRTTWaK" />

<p>Travel back in time to remember the good, bad, and awkward parts of growing up. <i>Grownups Read Things They Wrote as Kids</i> is a live, open-mic storytelling event where courageous adults share their childhood and teenage writing on stage.</p>

	<p><b>When:</b> {{ page.show_date | date: "%A, %B %-d, %Y" }}<br>
	   <b>Where:</b> <a href="{{ page.venue.url }}"> {{ page.venue.name }}</a> ({{ page.venue.address }}) </p>

<!-- {% if page.showtimes == nill and page.special != "Yes" %}We've scheduled this show, but reader signup and tickets are not available yet. For a heads-up, [join the newsletter](http://www.grownupsreadthingstheywroteaskids.com/mailing-list/).{% endif %} -->

{% for showtime in page.showtimes %}

<h3>{{ showtime.name }} show{% if showtime.soldout %} - SOLD OUT{% endif %}</h3>

{% if showtime.soldout %}

The {{ page.venue.city }} {{ showtime.name | downcase }} show is now sold out. You're welcome to join the waiing list below. <a href="/faq/#soldout">More info on how the waiting list works</a>.

<tito-widget event="grttwak/vancouver-2018-june" releases="0zgqyb7mwek,evqcxvrrxsc"></tito-widget>

{% else %}

<p><tito-button event="{{ page.tito_event }}" releases="{{ showtime.releases.general_admission }}"><i class="fa fa-ticket" aria-hidden="true"></i> Buy audience tickets for {{ page.venue.city }}</tito-button> <tito-button event="{{ page.tito_event }}" releases="{{ showtime.releases.reader }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up to read in {{ page.venue.city }}</a></tito-button><p>

<p><small>All tickets are general admission. No assigned seating. Doors open 30 minutes before showtime.</small></p>
<p><small>The material presented at GRTTWaK was originally written by kids. Some kid writing includes cuss words, and may acknowledge the existence of sex, drugs, or other mature themes.</small></p>

<hr />


{% endif %}


<small>{{ page.notes }}</small>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Grownups Read Things They Wrote as Kids {{ page.venue.city }}",
  "description": "Travel back in time to remember the good, bad, and awkward parts of growing up. Grownups Read Things They Wrote as Kids is a live, open-mic storytelling event where courageous adults share their childhood and teenage writing on stage.",
  "startDate" : "{{ page.show_date | date: "%F" }}",
  "url" : "{{ site.url }}{{ page.url }}",
  "location" : {
    "@type" : "Place",
    "sameAs" : "{{ page.venue.url }}",
    "name" : "{{ page.venue.name }}",
    "address" : {
            "@type": "PostalAddress",
            "streetAddress": "{{ page.venue.address }}",
            "addressLocality": "{{ page.venue.city }}"
          }
  },
  "offers":{
      "@type": "Offer",
      "url" : "https://ti.to/{{ page.tito_event }}",
      "price" : 17,
      "priceCurrency" : "CAD"
    },
  "performer": {
    "@type": "PerformingGroup",
    "name": "Grownups Read Things They Wrote as Kids"
  }

}
</script>


{% endfor %}


{{ content }}

{% if jekyll.environment == "development" %}
<script>TitoDevelopmentMode = true</script>
{% endif %}